# Assignment 01
## tuples, sets and dictionaries

In [6]:
# Q.1 
# demonstration to depict that tuples are immutable i.e. they cant be modified or altered once defined
t1 = ("abc", 34, True, 40, "male")
t1
t1[2] = False
#item assignment not supported

TypeError: 'tuple' object does not support item assignment

In [14]:
# Q.2
# demonstration to depict methods of tuples 
#count() function
tuple1 = (3, 3, 3, 1, 1, True, 5, 7, 9, 3)
print(tuple1.count(1))
print(tuple1.count(3))
#index() function
tuple1.index(9)

3
4

8

In [19]:
# Q.3
# type conversion of list into set
L1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s1 = set(L1)
s1

{1, 2, 3, 4}

In [31]:
# Q.4
# union returns a copy, and set1 remains unchanged
set1 = {"apple", "banana", "cherry"}
set2 = {1, 2, 3, 4}
new = set1.union(set2)
print(set1)
print(new)

{'cherry', 'banana', 'apple'}
{1, 2, 3, 4, 'apple', 'cherry', 'banana'}

In [34]:
s2 = {5.0, 6.0, 7.0}
s1.update(s2)
s1

{1, 2, 3, 4, 5.0, 6.0, 7.0}

In [45]:
# Q.5
# exapmple of dictionary
#dictionaries are ordered 
d1 = { "model": "Mustang", "brand": "Ford",  "year": 1964, "color": ["black", "white"] }
d1["color"]

['black', 'white']

In [46]:
# Q.6
# exapmple of nested dictionary
d4 = {"name" : ["alex", "jack", "will"], "id" : {"alex" : 1, "jack" : 2, "will" : 3}, "class" : 10 }
d4["id"]["jack"]

2

In [59]:
# Q.7

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics",["Python", "Machine Learning", "Deep Learning"])

dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

In [61]:
# Q.8
#three view objects are keys(), values() and items()
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.keys()
#returns all the keys

dict_keys(['language', 'course'])

In [63]:
dict1.values()
#returns all the values correponding to keys

dict_values(['Python', 'Data Science Masters'])

In [65]:
d10 =dict1.items()
##returns all the key-value pairs inthe form of a list
type(dict1.items())

dict_items