In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

#syntax: a = pd.Series([data in list format])
s1 = pd.Series([4, 8, 15, 16, 23, 42])
s1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
v1 = [19, 31, 7, 0, 6, 4, 24, 5, 12, 38]
type(v1)

list

In [8]:
#v1 of type list containig 10 elements is passed to pd.series
s2 = pd.Series(v1)
print(s2)

0    19
1    31
2     7
3     0
4     6
5     4
6    24
7     5
8    12
9    38
dtype: int64

In [13]:
data = { 
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["F", "M", "F"]
}

df1 = pd.DataFrame(data)
print(df1)

     Name  Age Gender
0   Alice   25      F
1     Bob   30      M
2  Claire   27      F

## DataFrame is a 2d array data structure, that supports heterogenous data types where as series is indexed 1d array with homogenous data type

##  In Panel Data and size are mutable.

In [16]:
# we merge s1 and s2 to create a dataframe
df=pd.concat([s1, s2])
df

0     4
1     8
2    15
3    16
4    23
5    42
0    19
1    31
2     7
3     0
4     6
5     4
6    24
7     5
8    12
9    38
dtype: int64

In [17]:
git init

SyntaxError: invalid syntax (2830201818.py, line 1)